{% extends 'base/base.html' %}

  {% block content %}

  <main>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <h1 class="text-center mb-3"><strong>Add New Product</strong></h1>

        <div class="card mb-3  shadow-sm">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body">
                    <form method="POST" action="{% url 'add' %}">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="my-3">
                            <button type="submit" class="btn rounded-0 btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>

          <a href="{% url 'products' %}">Back to List</a>
    
      </div>
    </div>
  </main>

  {% endblock %}