{% extends 'base/base.html' %}

  {% block content %}

  <main>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        {% if error %}
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <div>
            {{ error }}
          </div>
        </div>        
        {% else %}
        <div class="card mb-3  shadow-sm">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://source.unsplash.com/500x400/?product {{ product.name }}/" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{ product.name|upper }}</strong></h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text"><small class="text-body-secondary">Product Stocks: {{ stock.units }} <br> Category: {{ product.category.all|join:", "|capfirst }}</small></p>

                  <p class="card-text">
                    <STRONG>IN INVENTORY</STRONG> <br>
                    SKU: {{ inventory.sku }} <br>
                    Price: {{ inventory.price }} <br>
                    Created At: {{ inventory.created_at }} <br>
                  </p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        
        <a href="{% url 'products' %}">Back to List</a>

      </div>
    </div>
  </main>

  {% endblock %}